@model RentHouse.Models.ViewModel.HouseVM

@{
    ViewData["Title"] = "EditHouse";
    Layout = "~/Areas/Admins/Views/Shared/_Layout.cshtml";
}

<h1>EditHouse</h1>

<h4>House</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="EditHouse" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="house.Id" />
            <div class="form-group">
                <label asp-for="house.NameHourse" class="control-label"></label>
                <input asp-for="house.NameHourse" class="form-control" />
                <span asp-validation-for="house.NameHourse" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="house.Ward" class="control-label"></label>
                <input asp-for="house.Ward" class="form-control" />
                <span asp-validation-for="house.Ward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="house.City" class="control-label"></label>
                <input  type="hidden" id="value_shipping_provinces" asp-for="house.City" class="form-control" />
               
                <select asp-for="house.City" name="calc_shipping_provinces" id="shipping_provinces"  onChange="update1()">
                  <option value=""  class="form-control" selected="selected">Tỉnh / Thành phố</option>
                </select>
                <span asp-validation-for="house.City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="house.District" class="control-label"></label>
                <input  type="hidden" id="value_shipping_district" asp-for="house.District" class="form-control" />
                <select asp-for="house.District" name="calc_shipping_district" id="shipping_district"  onChange="update2()">
                  <option value="" class="form-control" selected="selected">Quận / Huyện</option>
                </select>
                <span asp-validation-for="house.District" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="house.AllRoom" class="control-label"></label>
                <input asp-for="house.AllRoom" class="form-control" />
                <span asp-validation-for="house.AllRoom" class="text-danger"></span>
            </div>
            <div class="form-group">
                 <img src="/img/@Model.house.ImgUrl" /> 
                <label asp-for="house.ImgUrl" class="control-label"></label>
                <input asp-for="house.ImgUrl" class="form-control" readonly/>
                <span asp-validation-for="house.ImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Edit File</label>
                <input type="file" id="file" name="file" class="form-control"/>
            </div>
           @if(Model.imageUploads!=null){
                foreach(var item in Model.imageUploads)
                    {
                 <img style="width:300px;height:120px;margin-bottom:100px;" src="/img/@item.Image" />
                }
           }
            <div class="form-group">
                <label class="control-label">Edit Sub File</label>
                <input type="file" id="files" name="files" class="form-control" multiple/>
                <span asp-validation-for="imageUpload.Name" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
     <script>//<![CDATA[
if (address_2 = localStorage.getItem('address_2_saved')) {
  $('select[name="calc_shipping_district"] option').each(function() {
    if ($(this).text() == address_2) {
      $(this).attr('selected', '')
    }
  })
  $('input.billing_address_2').attr('value', address_2)
}
if (district = localStorage.getItem('district')) {
  $('select[name="calc_shipping_district"]').html(district)
  $('select[name="calc_shipping_district"]').on('change', function() {
    var target = $(this).children('option:selected')
    target.attr('selected', '')
    $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
    address_2 = target.text()
    $('input.billing_address_2').attr('value', address_2)
    district = $('select[name="calc_shipping_district"]').html()
    localStorage.setItem('district', district)
    localStorage.setItem('address_2_saved', address_2)
  })
}
$('select[name="calc_shipping_provinces"]').each(function() {
  var $this = $(this),
    stc = ''
  c.forEach(function(i, e) {
    e += +1
    stc += '<option value=' + e + '>' + i + '</option>'
    $this.html('<option value="">Tỉnh / Thành phố</option>' + stc)
    if (address_1 = localStorage.getItem('address_1_saved')) {
      $('select[name="calc_shipping_provinces"] option').each(function() {
        if ($(this).text() == address_1) {
          $(this).attr('selected', '')
        }
      })
      $('input.billing_address_1').attr('value', address_1)
    }
    $this.on('change', function(i) {
      i = $this.children('option:selected').index() - 1
      var str = '',
        r = $this.val()
      if (r != '') {
        arr[i].forEach(function(el) {
          str += '<option value="' + el + '">' + el + '</option>'
          $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>' + str)
        })
        var address_1 = $this.children('option:selected').text()
        var district = $('select[name="calc_shipping_district"]').html()
        localStorage.setItem('address_1_saved', address_1)
        localStorage.setItem('district', district)
        $('select[name="calc_shipping_district"]').on('change', function() {
          var target = $(this).children('option:selected')
          target.attr('selected', '')
          $('select[name="calc_shipping_district"] option').not(target).removeAttr('selected')
          var address_2 = target.text()
          $('input.billing_address_2').attr('value', address_2)
          district = $('select[name="calc_shipping_district"]').html()
          localStorage.setItem('district', district)
          localStorage.setItem('address_2_saved', address_2)
        })
      } else {
        $('select[name="calc_shipping_district"]').html('<option value="">Quận / Huyện</option>')
        district = $('select[name="calc_shipping_district"]').html()
        localStorage.setItem('district', district)
        localStorage.removeItem('address_1_saved', address_1)
      }
    })
  })
})
//]]></script>
        <script type="text/javascript">
			function update1() {
				var select = document.getElementById('shipping_provinces');
				var option = select.options[select.selectedIndex];

				document.getElementById('value_shipping_provinces').value = option.value;
			}

			update1();
            function update2() {
				var select = document.getElementById('shipping_district');
				var option = select.options[select.selectedIndex];

				document.getElementById('value_shipping_district').value = option.value;
			}

			update2();
		</script>
}
